@model ImageGallery.Client.ViewModels.OrderFrameViewModel

<div class="container">
    <div class="h3">Order a framed version of your favorite picture.</div>
    
    <div>We've got this address on record for you:</div>
    
    <div>@Model.Address</div>
    
    <div>If this is not correct, please contact us</div>
</div>